<div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Bienvenido
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                      
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Sistema Administracion Sys-Venus
                                    <span class="pull-right text-muted small"><em>Estimado : <%= current_user.nombre %></em>
                                    </span>
                                </a>
                            </div>
                            
                            <!-- /.list-group -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   </div>

                   