<div class="col-md-12">
  <h2>Busqueda Clientes Rut</h2>
    <%= form_tag clients_buscar_path, method: :get , class:'form-horizontal' do %>
      <div class="form-group">
    <%= text_field_tag :rut, params[:rut], class: "form-control", placeholder: "ingrese rut" %>
  </div>

      <div class="actions">
        <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
      </div>
      </div>
    <% end %>
  </div>